@import "includes";

$primary-color: rgba(43, 84, 127, 0.2);
$secondary-color: #2ea713;
$bg-color: #f2f2f2;

$gray-bbb: #222;
$gray-bb: #444;
$gray-b: #666;
$gray: #888;
$gray-w: #aaa;
$gray-ww: #ccc;
$gray-www: #eee;

$bp-max: 1400px;
$bp-lg: 1200px;
$bp-md: 992px;
$bp-sm: 768px;
$bp-xs: 640px;

/* Animation Example
@include keyframes(slide-down) {
	0% {
		opacity: 1;
	}
	90% {
		opacity: 0;
	}
}

.example {
	width: 100px;
	height: 100px;
	background: black;
	@include animation('slide-down 5s 3');
}
*/

html, body {
	height: 100%;
	background-color: $bg-color;
}

body {
	position: relative;
}

.overflow-ellipsis {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.link {
	cursor: pointer;
}

.ui.container.nav-container {
	margin: 1rem 0 2rem;

	.header.item {
		font-weight: 700;
	}
}

#site-wrapper {
	min-height: 100%;
	position: relative;
}

#site-header {
	nav {
		height: 100%;
		width: 289px;
		position: fixed;
		z-index: 1000000;
		overflow: auto;
		left: 0;
		top: 0;
		margin-top: 0;
		border-right: 1px solid $gray;
		border-radius: 0;
		font-size: 1.3em;

		-webkit-transform: translateX(-100%);
		-moz-transform: translateX(-100%);
		-ms-transform: translateX(-100%);
		-o-transform: translateX(-100%);
		transform: translateX(-100%);

		@include transition(all .2s ease-in-out);

		&.active {
			-webkit-transform: translateX(0%);
			-moz-transform: translateX(0%);
			-ms-transform: translateX(0%);
			-o-transform: translateX(0%);
			transform: translateX(0%);
		}
	}

	.icon {
		cursor: pointer;
		@include transition(all .2s ease-in-out);

		&:hover {
			@include transform(scale(1.1));
		}
	}
}

#app-body {
}

#site-header-menu-bar {
	border-radius: 0;
}

.view {
	.ui.vertical.stripe {
		padding: 8em 0;
	}
	.ui.vertical.stripe p {
		font-size: 1.33em;
	}

	&.home {
		.masthead.segment {
			padding: 1em 0;
		}
		.masthead .logo.item img {
			margin-right: 1em;
		}
		.masthead .ui.menu .ui.button {
			margin-left: 0.5em;
		}
		.masthead h1.ui.header {
			margin-bottom: 0;
			font-size: 4em;
			font-weight: normal;
		}
		.masthead h2 {
			font-size: 1.7em;
			font-weight: normal;
		}

		.secondary.pointing.menu .toc.item {
			display: none;
		}

		@media only screen and (max-width: 700px) {
			.ui.fixed.menu {
				display: none !important;
			}
			.secondary.pointing.menu .item,
			.secondary.pointing.menu .menu {
				display: none;
			}
			.secondary.pointing.menu .toc.item {
				display: block;
			}
			.masthead.segment {
				min-height: 350px;
			}
			.masthead h1.ui.header {
				font-size: 2em;
				margin-top: 1.5em;
			}
			.masthead h2 {
				margin-top: 0.5em;
				font-size: 1.5em;
			}
		}

	}
}

#modal-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #000;
	opacity: 0;
	z-index: 999;

	@include transition(opacity .2s ease-in-out);

	&.active {
		opacity: .3;
	}

	&.hidden {
		z-index: -1;
	}

}


@import "overrides";
