@import "./includes";

#grid-viz {
	
	.line {
		stroke: $primary-color;
		fill: $primary-color;
		
		&.selected {
			stroke: $secondary-color;
			stroke-width: 2;
		}
	}
	
	.grid-square {
		fill: $gray-ww;
		
		&.hasObject {
			fill: $gray-bb;
		}
		
		&:hover {
			fill: $primary-color;
		}
	}
}
